/*
全体
****/
html {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.side {
    width: 100px;
}

.main {
    width: calc(100% - 90px);
    border-left: 1px solid #eef;
    border-right: 1px solid #eef;
    text-align: left;
    max-width: 600px;
}
/* レスポンシブデザイン
*/
@media screen and (max-width: 500px) {
    .container {
        padding: 0;
    }
    .side {
        width: 60px;
    }
    .main {
        width: calc(100% - 60px);
    }
}

.nav-link {
    padding: .3rem .3rem
}

.btn{
    background-color: orange;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.btn:hover{
    color: #fff;
}

.btn-reverse {
    background-color: #fff;
    color: #1afe;
    border: 1px solid #1afe;
}
.btn-reverse:hover {
    color: #1afe;
}

a {
    font-size: 13px;
    color: #1afe;
    text-decoration: none;
}

.text-sm {
    font-size: 0.7rem;

}

/*
サイドブロック
***/
.side .side-inner {
    position: sticky;
    height: 100vh;
    top: 0px;
    padding-top: 20px;
    text-align: center;
}

.side .side-inner img {
    width: 70%;
    margin-bottom: 15px;
}

.side .side-inner .my-icon {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.side .side-inner .my-icon img {
    width: 70%;
    border-radius: 50%;
    border: 0.2px solid #aaa;
}

/* 右側サイドブロック */
 /* オリエント公式twitter */
.side_right {
    width: 300px;
}
.side_right .side-inner-right {
    position: sticky;
}
.timeline {
    max-width: 100%;
    border: 1px solid #333;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .side .side-inner img {
        width: 80%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 500px) {
    .side_right {
        width: 0%;
    }
}

/*
メインブロック
****/
.main .main-header{
    padding: 20px;
    border-bottom: 1px solid #eef;
}
.main .main-header h1{
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

/*
ホーム画面
**/
.home .write-post{
    display: flex;
    padding: 10px;
}
.home .write-post .my-icon{
    width: 80px;
    padding: 5px 15px 10px 10px;
}
.home .write-post .my-icon img{
    width: 100%;
    border-radius: 50%;
    border: 0.2px solid #aaa;
}
.home .write-post .input-area{
    width: calc(100% - 80px);
    flex-grow: 1;
}
.home .write-post .input-area textarea{
    border: 0;
    width: 100%;
    height: 100px;
    resize: none;
}
.home .write-post .input-area textarea:focus{
    outline: none;
}
.home .write-post .input-area .bottom-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #eef;
    padding-top: 8px;
}

.home .ditch{
    height: 15px;
    background-color: #f7f8f8;
    border-top: 1px solid #eef;

}

.home .write-list .write {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #eef;
}
.home .write-list .write .user {
    width: 80px;
    padding: 5px 15px 10px 10px;

}
.home .write-list .write .user img {
    width: 100%;
    border-radius: 50%;
    border: 0.2px solid #aaa;
}
.home .write-list .write .name {
    padding-top: 5px;
}
.home .write-list .write .name a {
    color: #122;
}
.home .write-list .write .name a .nickname {
    color: #122f;
    font-size: 17px;
    font-weight: bold;
}
.home .write-list .write .name a .user-name {
    color: #444;
    font-size: 14px;
}
.home .write-list .write .content {
    width: calc(100% - 60px);

}
.home .write-list .write .content p {
    font-size: 16px;
    padding: 8px 0 0 0;
    margin-bottom: 8px;
}
.home .write-list .write .content img.post-image {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid #eef;
}



@media screen and (max-width: 500px) {
    .home .write-list .write .user {
        width: 60px;
        padding: 5px 10px 10px 5px;
    }
}

.bottom-area .btn {
    margin-top: 10px;
}

/* 会員登録　（ログイン共用） */
body.signup {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;

}
.signup {
    background-color: antiquewhite;


}
.signup .form-signup {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}
.signup .logo-white {
    margin-bottom: 30px;
}
.signup h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.sign input {
    margin-bottom: 10px;
    background-color: #fff;
    border-color: #456;
    color: #fff;
}
.signup input:focus {
    background-color: #fff;
    border-color: #1afe;

}

/* ユーザープロフィール */
.profile .profile-area {
    padding: 25px;
}
.profile .profile-area .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.profile .profile-area .top .user {
    width: 30%;
    padding: 5px 15px 10px 0;

}
.profile .profile-area .top .user img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(235, 238, 240);

}
.profile .profile-area .top button {
    margin-bottom: 20px;
}
.profile .profile-area .name {
    font-size: 18px;
    font-weight: bold;

}
.profile .profile-area .follow-follower {
    display: flex;
    padding: 15px 0 10px 0;

}
.profile .profile-area .follow-follower .follow-count {
    width: 30px;
    font-size: 16px;
    font-weight: bold;
}
.profile .profile-area .follow-follower .follow-text {
    width: 100%;
    font-size: 16px;
    margin-right: 30px;
    color: #778;
}

/* 検索 */
.search .search-area {
    display: flex;
    padding: 15px;
}
.search .search-area input {
    width: 70%;
    max-width: 300px;
    margin-right: 10px;
}
